/* Top to Bottom Twitch Chat [2019] */
/* Potato CSS by twitch.tv/jalp */


/* Bottom to Top [You will need to manually scroll up after that]*/
div.tw-flex-grow-1.tw-full-height.tw-pd-b-1 {
    display: flex;
    flex-direction: column-reverse;
}


/* Hide Stream Chat/Rooms Header*/
div.rooms-header.tw-align-items-center.tw-border-b.tw-c-background-alt.tw-flex.tw-flex-shrink-0.tw-full-width.tw-justify-content-between.tw-pd-l-2.tw-pd-r-1 {
    display: none;
}

/* Remove More Messages Below */a
div.chat-list__list-footer.tw-absolute.tw-align-items-center.tw-border-radius-medium.tw-bottom-0.tw-flex.tw-full-width.tw-justify-content-center.tw-pd-05 div {
    display: none;
}
div.chat-list__list-footer.tw-absolute.tw-align-items-center.tw-border-radius-medium.tw-bottom-0.tw-flex.tw-full-width.tw-justify-content-center.tw-pd-05 {
    display: none;
    background: transparent;
    color: transparent;
}

/* End of Script */